<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Add Employee Type</h1>
  <form action="" method="post" name="add_employee_type">
      {{ form.hidden_tag() }}
      <p>
          Employee ID:<br>
          {{ form.slug(size=80, placeholder='eg. MZ') }}<br>
          {% for error in form.slug.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          {{ form.rate(size=10, placeholder='Hourly Rate') }}<br>
          {% for error in form.rate.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          {{ form.description(size=100, placeholder='Description') }}<br>
          {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p><input type="submit" value="Add Employee Type"></p>
  </form>
{% endblock %}


