<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Add Time</h1>
  <form action="" method="post" name="add_time">
      {{ form.hidden_tag() }}
      <p>
          Employee ID:<br>
          {{ form.employee_id(size=80) }}<br>
          {% for error in form.employee_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          {{ form.entry_date(size=10, placeholder='DD/YY/MMMM') }}<br>
          {% for error in form.entry_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          {{ form.start_time(size=5, placeholder='HH:MM') }}<br>
          {% for error in form.start_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          {{ form.end_time(size=5, placeholder='HH:MM') }}<br>
          {% for error in form.end_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p><input type="submit" value="Add Time"></p>
  </form>
{% endblock %}
