<html>
  <head>
    {% block header %} {% endblock %}
  </head>
  <body>
    <div><a href="/">Home</a></div>
    <div>Employee - <a href="/employees">Employees</a> | <a href="/add_time">Add Hours</a> </div>
    <div>Employee Types - <a href="/view_employee_type">Employee Types</a> | <a href="/add_employee_type">Add Employee Type</a> |</div>
    <div>Salary - <a href="/salary">Employee Salaries</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
