{% extends "base.html" %}
{% block header%}
<title> Employee Listing</title>
{% endblock %}
{% block content %}
    {% for emp_type in emp_types %}
    <div><p>{{ emp_type.slug }} - <b>{{ emp_type.rate }}</b></p></div>
    {% endfor %}
{% endblock %}
