{% extends "base.html" %}
{% block header%}
<title> Employee Listing</title>
{% endblock %}
{% block content %}
    <h1>Delete Employee Hour</h1>
    <form action="" method="post" name="add_employee_type">
      {{ form.hidden_tag() }}
      {{ form.object_id() }}
      <table border="1" cellpadding="5">
          <tr>
              <td>Employee ID</td>
              <td>Entry Date</td>
              <td>Start Time</td>
              <td>End Time</td>
              <td>Hours</td>
              <td>Salary</td>
          </tr>
          <tr>
              <td>{{ employee.emp_id}}</td>
              <td>{{ emp_hour.entry_date }}</td>
              <td>{{ emp_hour.start }}</td>
              <td>{{ emp_hour.end }}</td>
              <td>{{ emp_hour.hours }}</td>
              <td>{{ salary}}</td>
          </tr>
      </table>
      <p><input type="submit" value="Delete Employee Hour"></p>
    </form>
{% endblock %}
