{% extends "base.html" %}
{% block header%}
<title> Employee Listing</title>
{% endblock %}
{% block content %}
    <table border="2" cellpadding="3" cellspacing="3">
    <tr>
        <td>#</td>
        <td>Employee ID</td>
        <td>Time Details</td>
        <td>Salary</td>
    </tr>
    {% for employee in employees %}
    <tr>
        <td>{{ employee.id }}</td>
        <td><b>{{ employee.emp_id }}</b></td>
        <td>
            {% if employee.hours.count() != 0 %}
            <table cellpadding="3" cellspacing="3">
                <tr>
                    <td>Date</td>
                    <td>Start Time</td>
                    <td>End Time</td>
                    <td>Hours</td>
                </tr>
                {% for hour in employee.hours|sort(attribute='entry_date') %}
                <tr>
                    <td>{{ hour.entry_date }}</td>
                    <td>{{ hour.start }}</td>
                    <td>{{ hour.end }}</td>
                    <td>{{ hour.hours }}</td>
                    <td><a href="/delete/emp_hours/{{ hour.id}}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                -N-A-
            {% endif %}
        </td>
        <td>
            {% for salary in employee.salary %} {{ salary.salary }} {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
