{% extends "base.html" %}
{% block header%}
<title> Salary</title>
{% endblock %}
{% block content %}
    <form action="" method="post" name="search_employee_salary">
        <p>Both month and year required for filtering.</p>
      {{ form.hidden_tag() }}
      <p>
          Employee Type: {{ form.emp_type() }}<br>
          {% for error in form.emp_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          Month: {{ form.month() }}<br>
          {% for error in form.month.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          Year: {{ form.year() }}<br>
          {% for error in form.year.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p><input type="submit" value="Filter"></p>
    </form>
    <table border="2" cellpadding="3" cellspacing="3">
    <tr>
        <td>#</td>
        <td>Employee ID</td>
        <td>Time Details</td>
        <td>Salary</td>
    </tr>
    {% for employee in employees %}
    <tr>
        <td>{{ employee.id }}</td>
        <td><b>{{ employee.emp_id }}</b></td>
        <td>
            {{ get_hours_salary(employee.hours, employee.salary, form)[0] }}
        </td>
        <td>
            {{ get_hours_salary(employee.hours, employee.salary, form)[1] }}
        </td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
