{% extends "base.html" %}
{% block header%}
<title> Siva Entry App</title>
{% endblock %}
{% block content %}
    The following can be done with this app
    <p>
        1. <a href="/add_employee_type">Add Employee Types</a>
        <br>
        You can add employee types like MZ, OS, etc.. and set their per hour rates
        <hr>
        2. <a href="/add_time">Add Employee Time</a>
        <br>
        You can add the start and end times for an employee. Just enter Employee code, if the employee is existing, the hours will be linked automatically. Otherwise, new employee will be added and then the hours will be added.
        <hr>
        3. <a href="/employees">Employee Listing</a>
        <br>
        You can view the list of employees added and the hours worked and the salary to be given to them.
        <hr>
        4. <a href="/salary">Salary</a>
        <br>
        You can view the salaries to be given to the employees based on the hours that have been added.
    </p>
{% endblock %}
